<!--{% load static %} -->
<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- 上述meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <!-- Bootstrap CSS -->

        <!--<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
        <link href="{% static 'login/css/login.css' %}" rel="stylesheet"/>
        <title>Login</title>
    </head>


    <body>
        <div class="container">
            <div class="col">
                <form class="form-login" action="/PHR/login/" method="post" style="margin-top: 25%">
                    {% csrf_token %}
                    {% if message %}
                        <div class="alert alert-warning">{{message}}</div>
                    {% endif %}
                    <!--
                    <div class="form-group">
                        <label for="id_username">User:</label>
                        <input type="text" name="username" id="id_username" class="form-control" placeholder="User" autofocus required>
                    </div>
                    <div class="form-group">
                        <label for="id_password">Password:</label>
                        <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
                    </div>
                    -->
                    <table class="table" style="margin:0 auto">
                        <tr class="form-group" >
                            <td text-align="center"> {{ login_form.username.label_tag }}</td>
                            <td text-align="center">{{ login_form.username }}</td>
                        </tr>
                        <tr class="form-group">
                            <td text-align="center"> {{ login_form.password.label_tag }}</td>
                            <td text-align="center">{{ login_form.password }}</td>
                        </tr>
                        <tr>
                            <td><a href="/PHR/register/" class="text-success"><ins>New User</ins></a></td>
                            <td><button type="submit" class="btn btn-primary float-right">Login</button></td>
                        </tr>

                    </table>
                    <!--
                    <div class="form-group" >
                        {{ login_form.username.label_tag }}
                        {{ login_form.username }}
                    </div>
                    <div class="form-group">
                        {{ login_form.password.label_tag }}
                        {{ login_form.password }}
                    </div>
                    <div>
                        <a href="/PHR/register/" class="text-success"><ins>New User</ins></a>
                        <button type="submit" class="btn btn-primary float-right">Login</button>
                    </div>
                    -->

                </form>
            </div>

        </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        {#    以下三者的引用顺序是固定的#}
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
        <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>