{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- 上述meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <!-- Bootstrap CSS -->
        <!-- <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">-->

        <!--<link href="{% static 'phr_change/css/change.css' %}" rel="stylesheet"/>-->
        <link href="{% static 'index/css/index.css' %}" rel="stylesheet"/>
        <style>
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #007bff;
            }

            li {
                float: right;
            }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            li a:hover {
                background-color: #111;
            }

            .card-text{
                font-size: 12px;
                text-align: left;
                font-family: PingFangSC-medium;
            }
            .nav-tabs .nav-link{
                border: 0px;
            }
            .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
                color:#1684DC;
                background-color:#FFFFFF;
            }
            .nav-link{
                border-radius: 18px;
                color: rgba(51, 51, 51, 1);
                font-size: 12px;
                text-align: center;
                font-family: Arial;
                border: 1px solid rgba(187, 187, 187, 1);
            }
            .button:focus {
                outline: none;
                box-shadow: none;
            }

        </style>
        <title>Change</title>

    </head>
    <body>
        <div class="container" style="padding: 0.2rem;">
            <div class="card" style="background-color: #4095E5;">
                <div class="card-body" style="padding: 0.8rem;">
                    <div class="row">
                        <div class="col-4">
                            <img src="data:image/png;base64,{{ Photo }}" class="card-img" alt="Image" style="width: 7rem;">
                        </div>
                        <div class="col-8" style="padding: 0.5rem;max-width: 56%;">
                            <div class="card-text">
                                {{p1_Name}}
                            </div>
                            <div class="card-text">
                                {{age}},{{p1.gender}},{{Height_Last}},{{Weight_Last}}
                            </div>
                            <div class="card-text">
                                Birth Date: {{BirthDate}}
                            </div>
                            <div class="card-text">
                                Phone: {{Phone}}
                            </div>
                            <div class="card-text">
                                City: {{Address}}
                            </div>
                            <div class="card-text">
                                Email: {{Email}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="height:760px;">
            <form class="form-NameForm" action="." method="post" novalidate>
                {% csrf_token %}

                <!--{{ request.session.user_name }}
                <div class="form-group">
                    <div class="form-control"><span>Patient: </span></div>
                </div>
                -->
                <div class="card" style="height:638px;">
                    <div class="card-text" style="color: rgba(255, 255, 255, 1);background-color: rgba(205, 205, 205, 1);font-size: 16px;text-align: left;font-family: PingFangSC-regular;">
                        Please enter your healthy daily data
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-text" style="background-color: rgba(197, 222, 158, 1);color: rgba(255, 255, 255, 1);font-size: 14px;text-align: left;font-family: Arial;">
                                DATA:
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="height:38px;">
                            <div class="form-group" style="width: 80%;margin-left: 20%;">
                                {{ phr_form.your_date }}
                            </div>

                        </div>
                        <div class="col-4" style="height:38px;">
                            <div class="card-text" style="margin-top: 14%;color: rgba(16, 16, 16, 1);font-size: 14px;text-align: left;font-family: PingFangSC-regular;">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-text" style="background-color: rgba(197, 222, 158, 1);color: rgba(255, 255, 255, 1);font-size: 14px;text-align: left;font-family: Arial;">
                                Height:
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="height:38px;">
                            <div class="form-group" style="width: 80%;margin-left: 20%;">
                                {{ phr_form.your_height }}
                            </div>

                        </div>
                        <div class="col-4" style="height:38px;">
                            <div class="card-text" style="margin-top: 14%;color: rgba(16, 16, 16, 1);font-size: 14px;text-align: left;font-family: PingFangSC-regular;">
                                cm
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-text" style="background-color: rgba(197, 222, 158, 1);color: rgba(255, 255, 255, 1);font-size: 14px;text-align: left;font-family: Arial;">
                                Weight:
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="height:38px;">
                            <div class="form-group" style="width: 80%;margin-left: 20%;">
                                {{ phr_form.your_weight }}
                            </div>
                        </div>
                        <div class="col-4" style="height:38px;">
                            <div class="card-text" style="margin-top: 14%;color: rgba(16, 16, 16, 1);font-size: 14px;text-align: left;font-family: PingFangSC-regular;">
                                kg
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-text" style="background-color: rgba(197, 222, 158, 1);color: rgba(255, 255, 255, 1);font-size: 14px;text-align: left;font-family: Arial;">
                                Temperature:
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="height:38px;">
                            <div class="form-group" style="width: 80%;margin-left: 20%;">
                                {{ phr_form.your_temperature }}
                            </div>
                        </div>
                        <div class="col-4" style="height:38px;">
                            <div class="card-text" style="margin-top: 14%;color: rgba(16, 16, 16, 1);font-size: 14px;text-align: left;font-family: PingFangSC-regular;">
                                ℃
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-text" style="background-color: rgba(197, 222, 158, 1);color: rgba(255, 255, 255, 1);font-size: 14px;text-align: left;font-family: Arial;">
                                Steps:
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="height:38px;">
                            <div class="form-group" style="width: 80%;margin-left: 20%;">
                                {{ phr_form.your_steps }}
                            </div>
                        </div>
                        <div class="col-4" style="height:38px;">
                            <div class="card-text" style="margin-top: 14%;color: rgba(16, 16, 16, 1);font-size: 14px;text-align: left;font-family: PingFangSC-regular;">
                                /24h
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-text" style="background-color: rgba(197, 222, 158, 1);color: rgba(255, 255, 255, 1);font-size: 14px;text-align: left;font-family: Arial;">
                                BMI:
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="height:38px;">
                            <div class="form-group" style="width: 80%;margin-left: 20%;">
                                {{ phr_form.your_BMI }}
                            </div>
                        </div>
                        <div class="col-4" style="height:38px;">
                            <div class="card-text" style="margin-top: 14%;color: rgba(16, 16, 16, 1);font-size: 14px;text-align: left;font-family: PingFangSC-regular;">
                                kg/m2
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-text" style="background-color: rgba(197, 222, 158, 1);color: rgba(255, 255, 255, 1);font-size: 14px;text-align: left;font-family: Arial;">
                                Blood Pressure:
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2" style="height:38px;padding-right:0px;">
                            <div class="card-text" style="margin-top: 20%;">
                                Systolic:
                            </div>
                        </div>
                        <div class="col-2" style="height:38px;padding:0px;">
                            <div class="form-group">
                                {{ phr_form.your_blood_pressure_up }}
                            </div>
                        </div>
                        <div class="col-2" style="height:38px;padding:0px;">
                            <div class="card-text" style="margin-top: 16%;">
                                mm/Hg
                            </div>
                        </div>
                        <div class="col-2" style="height:38px;padding:0px;">
                            <div class="card-text" style="margin-top: 16%;">
                                Diastolic:
                            </div>
                        </div>
                        <div class="col-2" style="height:38px;padding:0px;">
                            <div class="form-group">
                                {{ phr_form.your_blood_pressure_down }}
                            </div>
                        </div>
                        <div class="col-2" style="height:38px;padding-left:0px;">
                            <div class="card-text" style="margin-top: 20%;">
                                mm/Hg
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-text" style="background-color: rgba(197, 222, 158, 1);color: rgba(255, 255, 255, 1);font-size: 14px;text-align: left;font-family: Arial;">
                                Pulse rate:
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="height:38px;">
                            <div class="form-group" style="width: 80%;margin-left: 20%;">
                                {{ phr_form.your_pulse_rate }}
                            </div>
                        </div>
                        <div class="col-4" style="height:38px;">
                            <div class="card-text" style="margin-top: 14%;color: rgba(16, 16, 16, 1);font-size: 14px;text-align: left;font-family: PingFangSC-regular;">
                                /min
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-text" style="background-color: rgba(197, 222, 158, 1);color: rgba(255, 255, 255, 1);font-size: 14px;text-align: left;font-family: Arial;">
                                Respiration:
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="height:38px;">
                            <div class="form-group" style="width: 80%;margin-left: 20%;">
                                {{ phr_form.your_respiration }}
                            </div>
                        </div>
                        <div class="col-4" style="height:38px;">
                            <div class="card-text" style="margin-top: 14%;color: rgba(16, 16, 16, 1);font-size: 14px;text-align: left;font-family: PingFangSC-regular;">
                                /min
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-text" style="background-color: rgba(197, 222, 158, 1);color: rgba(255, 255, 255, 1);font-size: 14px;text-align: left;font-family: Arial;">
                                Smoking:
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="height:38px;">
                            <div class="form-group" style="width: 80%;margin-left: 20%;">
                                {{ phr_form.your_smoking }}
                            </div>
                        </div>
                        <div class="col-4" style="height:38px;">
                            <div class="card-text" style="margin-top: 14%;color: rgba(16, 16, 16, 1);font-size: 12px;text-align: left;font-family: PingFangSC-regular;">
                                cigarettes/day
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <a href="/PHR/index/" class="btn btn-primary" role="button" style="float: left;
                             text-decoration: none;border-radius: 4px;background-color: rgba(226, 197, 20, 1);
                             color: rgba(255, 255, 255, 1);font-size: 14px;text-align: left;
                             font-family: Arial;border: 1px solid rgba(187, 187, 187, 1);width: 100%;">
                                《 Return
                            </a>
                        </div>
                    </div>
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" style="border-radius: 4px;background-color: rgba(22, 132, 252, 1);color: rgba(255, 255, 255, 1);font-size: 14px;font-family: Arial;border: 1px solid rgba(187, 187, 187, 1);width: 100%;">
                                Submit 》
                            </button>
                        </div>
                    </div>

                    </div>

                    <!--
                    <div>
                        <button type="submit" class="btn btn-primary float-right">Submit</button>
                    </div>
                    -->
                </form>
            </div>
        </div>
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
        <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

        <script>
            $(function () {
                $("#id_your_date").datetimepicker( {
                    format:'Y-m-d H:i',
                    step:1,
                });

            });
        </script>


    </body>
</html>